.um{
    height: 100px; width: 150px; background-color: rgb(119, 8, 8)
}

.dois{
    height: 50px; width: 75px; background-color: rgb(0, 255, 0);
}

.pg{
    color: rgb(33, 6, 77); background-color: rgb(238, 255, 0); font-size: 10px; font-family: monospace; font-weight: bold;
}

.tres{
    width: 10%; height: 15%; background-color: rgb(248, 2, 207);
}

.quatro{
    width: 30%; height: 100%; background-color: rgb(0, 217, 255);
}